# Core runtime configuration
NODE_ENV=development
PORT=3000
HOSTNAME=0.0.0.0

# Docker socket
DOCKER_HOST=unix:///var/run/docker.sock

DATABASE_URL=file:.data/docker-gui.db

SETUP_SECRET=0a4f22660a6d0bd72540a4e46c2dbff0

# Application secrets (development only)
JWT_SECRET=06dcd2eb6036810bb3623c91ff10c572ab6500e94098c01bcc3f1e393d6e2474
SETUP_SECRET=slt0NyIzqKvPTufMw29Bpub_zjx7rYX5
AUTH_COOKIE_SECURE=false

# Nginx integration
NGINX_CONTAINER_NAME=nginx-proxy
NGINX_CONFIG_PATH=/etc/nginx/sites-enabled
NGINX_RELOAD_COMMAND=docker exec nginx-proxy nginx -s reload

# Email integration
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM_ADDRESS=noreply@docker-gui.local
EMAIL_FROM_NAME=Docker GUI

# DNS integration
DNS_API_KEY=cd9d88eecd2f4969aeb69291acdca232

# MinIO Object Storage (S3-compatible)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_CONSOLE_PORT=9001
