# Dependencies
/node_modules

# Build outputs
/.next
/out
/.data

# Production
npm-debug.log*
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode
.idea
*.swp
